/*     Colors     */
$drkBlu: rgb(11, 3, 45);
$drkBluA: rgba(11, 3, 45, .5);
$ltdrkBlu: rgb(73, 63, 102);
$ltdrkBluA: rgba(73, 63, 102, .5);
$ltBlu: rgb(83, 73, 129);
$ltltBlu: rgb(160, 149, 194);
$ltBluA: rgba(83, 73, 129, .5);

$eggshell: rgb(238, 241, 189);

$drkGrn: rgb(155, 190, 85);
$mdGrn: rgb(169, 203, 103);
$ltGrn: rgb(187, 214, 134);
$ltGrnA: rgba(187, 214, 134, .5);

$ltBrn: rgb(210, 191, 161);
$drkBrn: rgb(100, 69, 54);
$drkBrnA: rgba(100, 69, 54, .5);

$btOrg: rgb(244, 128, 38);
$btOrgA: rgba(244, 128, 38, .5);
$btOrgAA: rgba(179, 111, 59, .95);

$greige: rgb(138, 122, 102);
$greigeA: rgba(204, 142, 62, .95);

$siteWhite: #FFF;
$siteWhiteA: rgba(255,255,255, .75);
$siteBlack: #000;

// ctrl button colors
$deleteColor: rgb(131, 29, 11);
$deleteHoverColor: rgb(94, 22, 8);
$editColor: rgb(143, 129, 20);
$editHoverColor: rgb(107, 96, 15);
$saveColor: rgb(34, 118, 25);
$saveHoverColor: rgb(20, 67, 15);
$genericColor: $btOrg;
$genericHoverColor: rgb(194, 90, 10);

$mobileWidth: 850px;

$siteWidth: 1200px
