@font-face {
    font-family: LM;
    src: url(fonts/lemon_milk/LEMONMILK-Light.otf);
}

@font-face {
    font-family: LMB;
    src: url(fonts/lemon_milk/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: LMI;
    src: url(fonts/lemon_milk/LEMONMILK-LightItalic.otf);
}
@font-face {
    font-family: NeuReg;
    src: url(fonts/neuton/Neuton-Regular.ttf);
}
@font-face {
    font-family: NeuBld;
    src: url(fonts/neuton/Neuton-Bold.ttf);
}