@font-face {
    font-family: LM;
    src: url(fonts/lemon_milk/LEMONMILK-Light.otf);
}

@font-face {
    font-family: LMB;
    src: url(fonts/lemon_milk/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: LMI;
    src: url(fonts/lemon_milk/LEMONMILK-LightItalic.otf);
}