footer{
    background-color: $drkBlu;

    .footer{
        height: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    
        .logo{
            width: 200px;
            height: 100px;
            background-image: url(../assets/Logo/IndianaAveLogo-wht.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        .footer-nav{
            height: 200px;
            width: 138px;
            color: $siteWhite;
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3{
                font-family: LM;
            }
            a{
                color: $siteWhite;
                margin-left: 30px;
                text-decoration: none;
                margin-bottom: 0;
                font-family: NeuReg;
                font-size: 20px;
            }
            a:hover{
                font-family: NeuBld;
                text-decoration: underline;
                font-size: 18px;
            }
        }
    
        .footer-icons{
            width: 180px;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            i{
                color: $siteWhite;
            }
    
            #icon{
                height: 50px;
                width: 50px;
                background-color: aqua;
            }
        }
    }
}


@media (max-width: 600px){
    
    .footer{
        height: 330px;
        display: grid;
        grid-template-columns: 100px 100px;
        grid-row: auto auto;
        
        .logo{
            width: 100px;
            height: 50px;
            background-image: url(../Logo/IndianaAveLogo-wht.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
    .footer-con{
            height: 150px;
        }

    .footer-icons{
        height: 150px;
        width: 100px;
        grid-template-columns: 70px 70px;
    }
    }

    
    
    
}
