footer{
    background-color: $drkBlu;

    .footer{
        height: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            margin-left: 30px;
            width: 200px;
            height: 102px;
            background-image: url(../assets/Logo/IndianaAveLogo-wht.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        .footer-icons{
            width: 160px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            i{
                color: $siteWhite;
            }

            i:hover{
                color: $btOrg;
            }
    
            #icon{
                height: 50px;
                width: 50px;
                background-color: aqua;
            }
        }

        .footer-nav{
            margin-right: 30px;

            //height: 150px;
            width: 138px;

            color: $siteWhite;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3{
                font-family: LM;
                margin-bottom: 10px;
            }
            a{
                color: $siteWhite;
                margin-left: 30px;
                text-decoration: none;
                margin-bottom: 0;
                font-family: NeuReg;
                font-size: 20px;
            }
            a:hover{
                font-family: NeuBld;
                text-decoration: underline;
                font-size: 18px;
                color: $btOrg;
            }
        }
    }
}


@media (max-width: $mobileWidth){
    footer{
        height: 90vh;

        .footer{
            flex-direction: column;

            height: 100%;
            margin: 0 auto;
            width: 70vw;
            padding: 80px;

            align-content: center;

            .logo{
                margin: 0;
            }

            .footer-icons {
                width: 200px;
            }

            .footer-nav{
                margin-right: 0;

                a{
                    margin-left: 0;
                    align-self: end;
                }
                #maintenance{
                    display: none;
                }
            }
        }
    }
}
