.hero{
     height: 450px; 
     width: 100%;
     background-image: linear-gradient($btOrgA, $btOrgA),
     url(../assets/images/Hero.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
 }

 .cen-content{
    padding: 15px;

    h1{
        color: white;
        font-family: LM;
        font-size: 50px;
    }
}





.collage{
    display: flex;
    justify-content: left;
    padding: 0 30px;

    .hero-images{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 225px;
        
        #image1{
            height: 152px;
            width: 100%;
            background-image: linear-gradient(
            to bottom, 
            $ltGrnA,
            $ltGrnA
            ),
            url(../assets/images/CJ.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
            
        }
        #image2{
            height: 152px;
            width: 100%;
            background-image: linear-gradient($drkBluA, $drkBluA),
            url(../assets/images/People.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
        }
    }

    #image3{
        width: 361px;
        height: 304px;
        background-image: linear-gradient(
        to bottom, 
        rgba(100, 69, 54, 0.5),
        rgba(100, 69, 54, 0.5)
        ),
        url(../assets/images/MWT.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        
    }
    .hero-text{
        position: absolute;
        top: 385px;
        right: -335px;
    
        width: 700px;
        font-family: LM;
        font-size: 50px;
    }
}


@media (max-width: 600px){
    
    .hero{
        height: 399px; 
        width: 100%;
    }

    .cen-content{
        height: 53px; 
        width: 272px;
        top: 100px;
        left: 0px;
        h1{
            font-size: 20px;
        }
    }

    .login{
        visibility: hidden;
    }

    .hero-images{
        top: 399px;
        width: 100px;

        #image1{
            width: 260px;
            height: 100px;
        }

        #image2{
            width: 260px;
            height: 100px;
        }

        
    }
    #image3{
            left: 180px;
            top: 399px;
            width: 213px;
            height: 201px; 
        }

    .hero-text{
        font-size: 20px;
        top: 350px;
        right: 0px;
        height: 40px;
        width: 327px;
        color: white;
    }
}

