

.ld{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   
}
#ld-head{
        position: absolute;
        top: 200px;
        left: 100px;
        font-family: LM;
    }
.ld-map{
    height: 600px;
    width: 500px;
    
    display: flex;
    flex-direction: column;
    margin: 10px;

    #ld-map{
        height: 100%;
        width: 100%;
        background-color: aqua;
    }
}
.ld-body-head{
        height: 30px;
        width: 100%;
        margin-bottom: 10px;
        font-family: LM;
    }
.ld-sites{

    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #site{
        width: 100%;
        height: 200px;
        
        #site-img{
            height: 150px;
            background-color: blue;
        }
        
        
    }
.ld-site-head{
          height: 15px;
          font-size: 20px;
        font-family: LM;
        }
.ld-site-add{
    height: 15px;
    font-family: LM;
    
}


}

@media (max-width: 600px){
    
    .containter-landmarks{
        display: flex;
        flex-direction: column;
    }

    #ld-head{
        top: 100px;
    }

    .ld{
        flex-direction: column;

        .ld-map{
            height: 300px;
            width: 350px;
        }

        .ld-sites{
            height: 100%;
            width: 350px;
        }
    }
}
