.nav-white{
    width: 100%;
    .mobile{
        padding: 10px 30px;
        width: available;

        display: none;
        justify-content: space-between;
        align-items: center;
        #ham-icon{
            height: 50px;
            width: 65px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bar{
                width: 100%;
                height: 25%;
                border-radius: 38px;
                background-color: $siteWhite;
                transition: 0.4s;
            }
        }
        .mobile-icon{
            width: 110px;
            height: 56px;
            background-image: url(../assets/Logo/IndianaAveLogo-wht.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .web{
        nav{
            padding: 30px 0;
            border-bottom: solid 2px $siteWhite;
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .links{
                margin-left:30px;
                width: 65%;
                display: flex;
                justify-content: space-between;
                a{
                    text-decoration: none;
                    color: $siteWhite;
                    font-size: 18px;
                    font-family: LM;
                }

                a:hover{
                    font-family: LMB;
                    font-size: 18px;
                }
            }
            .logo{
                margin-right:30px;
                width: 110px;
                height: 56px;
                background-image: url(../assets/logo/IndianaAveLogo-wht.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .user-panel{
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px 0;

            .greeting{
                margin-left: 30px;
                color: $siteWhite;
            }
            .ctrls{
                margin-right: 30px;
                color: $siteWhite;

                button{
                    width: 110px;
                    height: 45px;
                    margin-left: 10px;
                }
            }
        }
    }
}

.nav-black{
    .mobile{
        padding: 10px 30px;
        width: 100%;
        background-color: $siteWhite;

        display: none;
        justify-content: space-between;
        align-items: center;
        #ham-icon{
            height: 50px;
            width: 65px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bar{
                width: 100%;
                height: 25%;
                border-radius: 38px;
                background-color: $siteBlack;
                transition: 0.4s;
            }
        }
        .mobile-icon{
            width: 110px;
            height: 56px;
            background-image: url(../assets/Logo/IndianaAveLogo-blk.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .web{
        nav{
            padding: 30px 0;
            border-bottom: solid 2px $siteBlack;
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .links{
                margin-left:30px;
                width: 65%;
                display: flex;
                justify-content: space-between;

                a{
                    text-decoration: none;
                    color: $siteBlack;
                    font-size: 18px;
                    font-family: LM;
                }

                a:hover{
                    font-family: LMB;
                    font-size: 18px;
                }
            }
            .logo{
                margin-right:30px;
                width: 110px;
                height: 56px;
                background-image: url(../assets/logo/IndianaAveLogo-blk.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .user-panel{
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px 0;

            .greeting{
                margin-left: 30px;
                color: $siteBlack;
            }
            .ctrls{
                margin-right: 30px;
                color: $siteWhite;

                button{
                    width: 110px;
                    height: 45px;
                    margin-left: 10px;

                }

            }

        }
    }

}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 2500px;
}

.mobile-menu{
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: $btOrgAA;
    z-index:99;
    padding-top: 20vh;
    li{
        list-style-type: none;
        margin: 20px;
    }

    a{
        color: $siteWhite;
        font-size: 20px;
        font-family: LM;
        text-decoration: none;
    }

    a:hover{
        font-family: LMB;
    }
}


@media (max-width: $mobileWidth){

    .nav-black{
        .web{
            display: none;
        }

        .mobile{
            display: flex;
        }
    }

    .nav-white{
        .web{
            display: none;
        }

        .mobile{
            display: flex;
        }
    }

}
