.nav-wrapper{
    width: 100%;
    display:contents;

    
    
    nav{
    // width: 100%;
    padding: 15px;
    border-bottom: solid 2px white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;


    .logo{
        width: 119px;
        height: 60px;
        background-image: url(../assets/logo/IndianaAveLogo-wht.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 20px;
    }


    .links{
        width: 350px;
        display: flex;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }

        a:hover{
            font-family: LMB;
        }
        }
    }
}


.login{
    padding:15px;
    margin-top: -75px;
    display: flex;
    justify-content: end;

    visibility: visible;

    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: LM;
    }

    
}

.login:hover{
    a{
        font-family: LMB;
    }
    
}



.login-black{
    position: absolute;
    top: 150px;
    width: 100px;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;

    a{
        text-decoration: none;
        color: black;
        font-family: LM;
        font-size: 20px;
    }
}

.nav-wrapper-black{
    height: 90px;
    width: 100%;
    display:contents;
    
    
    nav{
    width: 100%;
    height: 130px;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
        

    .logo{
        width: 119px;
        height: 60px;
        background-image: url(../assets/logo/IndianaAveLogo-blk.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 20px;
    }


    .links{
        width: 350px;
        display: flex;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
        a:hover{
            font-family: LMB;
        }
        }

        
    }
}

.nav-mobile-wrapper{
    visibility: hidden;
    height: 74px;
    width: 100%;
    background-color: #D2BFA1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-icon{
    height: 50px;
    width: 100px;
    margin-right: 10px;
    background-image: url(../Logo/IndianaAveLogo-blk.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

#ham-icon{
    float: right;
    display: none;
    cursor: pointer;
    
}

#ham-icon div{
    width: 55px;
    height: 10px;
    border-radius: 38px;
    background-color: #644536;
    margin: 10px 0;
    transition: 0.4s;
    margin-left: 10px;
}


.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 2500px;
}

.mobile-menu{
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    height: 0px;
    width: 100%;
    background-color: #9BBE55;
    z-index:99;
    li{
        list-style-type: none;
        margin: 20px;
    }
    a{
        color: white;
        font-size: 20px;
        font-family: LM;
        text-decoration: none;
        
    }
    a:hover{
        font-family: LMB;
    }
    
}



@media (max-width: 600px){
    
    .nav-wrapper{
        display: none;
    }

    .nav-wrapper-black{
        display: none;
    }
    
}

@media (max-width: 600px){
    
    .nav-mobile-wrapper{
        visibility: visible;
       
    }
    
}

#ham-icon{
    display: block;
}



 