.profile {
  *{
    margin: 0 30px;

  }

  .header {
    font-family: LM;
    height: 50px;
    padding: 1% 0;
    font-size: 30px;
  }
  .details{
    .row{
      width: 100%;
      display: flex;
      .name{
        width: 48%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
