.home-sites{



    #sites-head{
        color: rgb(11, 3, 45);
        font-family: LM;
        font-size: 50px;
        position: relative;
        left: 0px;
    }
}

.list-sites{
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
}

.site{
    display: flex;

    align-items: center;
    width: 471px;
    height: 517px;
    background-color: red;


}
#site-img{
    height: 359px;
    width: 471px;
    background-color: antiquewhite;
}

#site-name{
    width: 471px;
    height: 35px;
    font-family: LM;
    font-size: 25px;

}

#site-add{
    width: 471px;
    height: 79px;
    font-family: LM;
    font-size: 25px;
}
@media (max-width: 600px){
    
    .home-sites{


        #sites-head{

            font-size: 40px;
        }

        .site{
            width: 100%;
            #site-img{
                height: 300px;
                width: 100%;
            }
            #site-name{
                width: 100%;
            }
            #site-add{
                width: 100%;
            }
        }
        
        
    }
    
    
}



