/*     Colors     */
* {
  margin: 0;
  padding: 0;
  box-sizing: borderbox; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px; }

.container {
  margin: 0 auto;
  width: 70vw;
  max-width: 1000px; }

@media (max-width: 850px) {
  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; } }

/*pages*/
.ld {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px; }

#ld-head {
  position: absolute;
  top: 200px;
  left: 100px;
  font-family: LM; }

.ld-map {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 10px; }
  .ld-map #ld-map {
    height: 100%;
    width: 100%;
    background-color: aqua; }

.ld-body-head {
  height: 30px;
  width: 100%;
  margin-bottom: 10px; }

.ld-sites {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column; }
  .ld-sites #site1 {
    width: 100%;
    height: 200px; }
    .ld-sites #site1 #site1-img {
      height: 150px;
      background-color: red; }
  .ld-sites .ld-site-head {
    height: 25px;
    font-size: 20px; }
  .ld-sites .ld-site-add {
    height: 25px; }
  .ld-sites #site2 {
    width: 100%;
    height: 200px; }
    .ld-sites #site2 #site2-img {
      height: 150px;
      background-color: red; }
  .ld-sites #site3 {
    width: 100%;
    height: 200px; }
    .ld-sites #site3 #site3-img {
      height: 150px;
      background-color: red; }

@media (max-width: 600px) {
  .containter-landmarks {
    display: flex;
    flex-direction: column; }
  #ld-head {
    top: 100px; }
  .ld {
    flex-direction: column; }
    .ld .ld-map {
      height: 300px;
      width: 350px; }
    .ld .ld-sites {
      height: 100%;
      width: 350px; } }

.containter-login {
  display: flex;
  flex-direction: column; }

.login-black {
  visibility: visible; }

.login-base {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .login-base .login-img {
    width: 1000px;
    height: 600px;
    background-image: url(../images/Hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .login-base form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 712px;
    margin-top: 50px; }
    .login-base form label {
      margin-right: 650px; }
    .login-base form input[type=text], .login-base form select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .login-base form input[type=password], .login-base form select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .login-base form input[type=submit] {
      width: 150px;
      background-color: #F48026;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 38px;
      cursor: pointer; }
    .login-base form input[type=submit]:hover {
      background-color: #753b1d; }
    .login-base form a {
      text-decoration: none;
      color: black;
      font-family: LM;
      font-size: 15px; }

@media (max-width: 600px) {
  .login-base .login-img {
    margin-top: 50px;
    width: 400px;
    height: 300px; }
  .login-base form {
    width: 350px; }
    .login-base form label {
      margin-right: 310px; }
  .login-black {
    visibility: hidden; } }

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px; }

.contact-info {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; }
  .contact-info h1 {
    font-family: LM; }
  .contact-info #contact-para {
    margin-top: 50px;
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.contact-form {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column; }
  .contact-form .contact-input {
    height: 60px;
    width: 529px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    margin-top: 30px; }
  .contact-form .contact-input2 {
    height: 199px;
    width: 529px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    margin-top: 30px; }

.home-sites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .home-sites #sites-head {
    color: #0b032d;
    font-family: LM;
    font-size: 50px; }

.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 471px;
  height: 517px;
  background-color: red; }
  .site #site-img {
    height: 359px;
    width: 471px;
    background-color: antiquewhite; }
  .site #site-name {
    width: 471px;
    height: 79px;
    background-color: black; }
  .site #site-add {
    width: 471px;
    height: 79px;
    background-color: aquamarine; }

@media (max-width: 600px) {
  .home-sites {
    margin-top: 50px; }
    .home-sites #sites-head {
      font-size: 40px; }
    .home-sites .site {
      width: 100%; }
      .home-sites .site #site-img {
        height: 300px;
        width: 100%; }
      .home-sites .site #site-name {
        width: 100%; }
      .home-sites .site #site-add {
        width: 100%; } }

.hero {
  height: 450px;
  width: 100%;
  background-image: linear-gradient(rgba(244, 128, 38, 0.5), rgba(244, 128, 38, 0.5)), url(../assets/images/Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 90px; }
  .hero .cen-content {
    margin-top: 50px;
    padding: 0 25px; }
    .hero .cen-content h1 {
      filter: drop-shadow(0 5px 5px #644536);
      color: #FFF;
      font-family: LM;
      font-size: 50px; }
  .hero .collage {
    display: flex;
    justify-content: left;
    padding: 0 40px;
    height: 280px;
    width: 55%; }
    .hero .collage .hero-images {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 38%; }
      .hero .collage .hero-images .image {
        height: 152px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
        .hero .collage .hero-images .image-Top {
          background-image: linear-gradient(rgba(187, 214, 134, 0.5), rgba(187, 214, 134, 0.5)), url(../assets/images/CJ.jpg); }
        .hero .collage .hero-images .image-Bottom {
          background-image: linear-gradient(rgba(11, 3, 45, 0.5), rgba(11, 3, 45, 0.5)), url(../assets/images/People.png); }
    .hero .collage .image3 {
      width: 62%;
      height: 100%;
      background-image: linear-gradient(rgba(100, 69, 54, 0.5), rgba(100, 69, 54, 0.5)), url(../assets/images/MWT.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  .hero .hero-text {
    filter: drop-shadow(0 5px 5px #644536);
    position: absolute;
    top: 285px;
    right: 30px;
    width: 500px;
    font-family: LM;
    color: #FFF;
    font-size: 50px;
    text-align: right; }
    .hero .hero-text span {
      font-family: LMI;
      filter: drop-shadow(0 5px 10px #644536); }

@media (max-width: 850px) {
  .hero {
    height: 330px;
    margin: 10px auto 100px;
    width: 95vw; }
    .hero .cen-content {
      padding: 0 30px;
      width: 100%;
      text-align: left; }
      .hero .cen-content h1 {
        font-size: 40px; }
    .hero .collage {
      width: 90vw;
      height: 260px;
      width: 65%;
      position: absolute;
      top: 140px;
      left: 0px; }
    .hero .hero-text {
      width: 50%;
      font-size: 35px;
      top: 240px;
      right: 0px;
      text-align: center;
      color: #FFF;
      filter: drop-shadow(0 5px 10px #0b032d); } }

#about {
  width: 100%;
  background-color: #534981; }
  #about .about {
    display: flex;
    justify-content: space-between; }
    #about .about-img {
      width: 44%;
      background-image: linear-gradient(rgba(83, 73, 129, 0.5), rgba(83, 73, 129, 0.5)), url(../assets/images/street.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    #about .about-con {
      width: 54%;
      position: relative;
      margin: 20px 0 100px; }
      #about .about-con-header {
        color: #534981;
        font-family: LM;
        font-size: 75px;
        filter: drop-shadow(0 5px 10px #0b032d); }
      #about .about-con-para {
        color: #FFF;
        font-family: LM;
        font-size: 12px;
        padding-left: 15px; }
      #about .about-con a {
        position: absolute;
        right: 0; }
        #about .about-con a .about-button {
          width: 230px;
          height: 50px;
          border-radius: 38px;
          background-color: #f48026;
          border: none;
          color: #FFF;
          font-family: LM;
          margin: 15px 0; }

@media (max-width: 850px) {
  #about .about {
    flex-direction: column; }
    #about .about-img {
      width: 100%;
      height: 150px; }
    #about .about-con {
      margin: -25px 0 15px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #about .about-con-header {
        font-size: 55px;
        text-align: center;
        filter: drop-shadow(0 -2px 10px #0b032d); }
      #about .about-con-para {
        padding: 0 30px;
        text-align: justify; }
      #about .about-con a {
        position: relative;
        right: auto;
        margin: 0 auto; }
  .about-con {
    width: 100%; }
    .about-con #about-head {
      font-size: 30px;
      top: 775px;
      left: 120px;
      color: #000; }
    .about-con #about-para {
      width: 350px;
      margin-right: 0px;
      font-size: 13px; }
    .about-con #about-button {
      width: 200px;
      height: 60px;
      margin-left: 0;
      margin-top: 100px; } }

/*partials*/
.nav-wrapper {
  width: 100%;
  display: contents; }
  .nav-wrapper nav {
    padding: 30px 0;
    border-bottom: solid 2px #FFF;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    .nav-wrapper nav .logo {
      margin-right: 30px;
      width: 110px;
      height: 56px;
      background-image: url(../assets/logo/IndianaAveLogo-wht.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .nav-wrapper nav .links {
      margin-left: 30px;
      width: 350px;
      display: flex;
      justify-content: space-between; }
      .nav-wrapper nav .links a {
        text-decoration: none;
        color: #FFF;
        font-size: 20px; }
      .nav-wrapper nav .links a:hover {
        font-family: LMB; }

.nav-wrapper-black {
  height: 90px;
  width: 100%;
  display: contents; }
  .nav-wrapper-black nav {
    width: 100%;
    height: 130px;
    border-bottom: solid 2px #000;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav-wrapper-black nav .logo {
      width: 119px;
      height: 60px;
      background-image: url(../assets/logo/IndianaAveLogo-blk.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 30px; }
    .nav-wrapper-black nav .links {
      width: 350px;
      display: flex;
      justify-content: space-between; }
      .nav-wrapper-black nav .links a {
        text-decoration: none;
        color: #000;
        font-size: 20px; }
      .nav-wrapper-black nav .links a:hover {
        font-family: LMB; }

.nav-mobile-wrapper {
  height: 74px;
  width: 100%;
  background-color: #d2bfa1;
  display: none;
  justify-content: space-between;
  align-items: center; }
  .nav-mobile-wrapper #ham-icon {
    float: right;
    display: block;
    cursor: pointer; }
    .nav-mobile-wrapper #ham-icon div {
      width: 55px;
      height: 10px;
      border-radius: 38px;
      background-color: #644536;
      margin: 10px 0;
      transition: 0.4s;
      margin-left: 10px; }
  .nav-mobile-wrapper .mobile-icon {
    height: 51px;
    width: 100px;
    margin-right: 10px;
    background-image: url(../assets/Logo/IndianaAveLogo-blk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 2500px; }

.mobile-menu {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  height: 0px;
  width: 100%;
  background-color: #a9cb67;
  z-index: 99; }
  .mobile-menu li {
    list-style-type: none;
    margin: 20px; }
  .mobile-menu a {
    color: #FFF;
    font-size: 20px;
    font-family: LM;
    text-decoration: none; }
  .mobile-menu a:hover {
    font-family: LMB; }

@media (max-width: 850px) {
  .nav-wrapper {
    display: none;
    margin: -20px; }
  .nav-wrapper-black {
    display: none; }
  .nav-mobile-wrapper {
    display: flex; } }

@font-face {
  font-family: LM;
  src: url(fonts/lemon_milk/LEMONMILK-Light.otf); }

@font-face {
  font-family: LMB;
  src: url(fonts/lemon_milk/LEMONMILK-Bold.otf); }

@font-face {
  font-family: LMI;
  src: url(fonts/lemon_milk/LEMONMILK-LightItalic.otf); }

@font-face {
  font-family: NeuReg;
  src: url(fonts/neuton/Neuton-Regular.ttf); }

@font-face {
  font-family: NeuBld;
  src: url(fonts/neuton/Neuton-Bold.ttf); }

footer {
  background-color: #0b032d; }
  footer .footer {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; }
    footer .footer .logo {
      width: 200px;
      height: 100px;
      background-image: url(../assets/Logo/IndianaAveLogo-wht.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    footer .footer .footer-nav {
      height: 200px;
      width: 138px;
      color: #FFF;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      footer .footer .footer-nav h3 {
        font-family: LM; }
      footer .footer .footer-nav a {
        color: #FFF;
        margin-left: 30px;
        text-decoration: none;
        margin-bottom: 0;
        font-family: NeuReg;
        font-size: 20px; }
      footer .footer .footer-nav a:hover {
        font-family: NeuBld;
        text-decoration: underline;
        font-size: 18px; }
    footer .footer .footer-icons {
      width: 220px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      footer .footer .footer-icons i {
        color: #FFF; }
      footer .footer .footer-icons #icon {
        height: 50px;
        width: 50px;
        background-color: aqua; }

@media (max-width: 600px) {
  .footer {
    height: 330px;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-row: auto auto; }
    .footer .logo {
      width: 100px;
      height: 50px;
      background-image: url(../Logo/IndianaAveLogo-wht.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .footer .footer-con {
      height: 150px; }
    .footer .footer-icons {
      height: 150px;
      width: 100px;
      grid-template-columns: 70px 70px; } }
