/*     Colors     */
* {
  margin: 0;
  padding: 0;
  box-sizing: borderbox; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px; }

.containter {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 1000px; }

/*pages*/
.ld {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px; }

#ld-head {
  position: absolute;
  top: 200px;
  left: 100px;
  font-family: LM; }

.ld-map {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 10px; }
  .ld-map #ld-map {
    height: 100%;
    width: 100%;
    background-color: aqua; }

.ld-body-head {
  height: 30px;
  width: 100%;
  margin-bottom: 10px; }

.ld-sites {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column; }
  .ld-sites #site1 {
    width: 100%;
    height: 200px; }
    .ld-sites #site1 #site1-img {
      height: 150px;
      background-color: red; }
  .ld-sites .ld-site-head {
    height: 25px;
    font-size: 20px; }
  .ld-sites .ld-site-add {
    height: 25px; }
  .ld-sites #site2 {
    width: 100%;
    height: 200px; }
    .ld-sites #site2 #site2-img {
      height: 150px;
      background-color: red; }
  .ld-sites #site3 {
    width: 100%;
    height: 200px; }
    .ld-sites #site3 #site3-img {
      height: 150px;
      background-color: red; }

@media (max-width: 600px) {
  .containter-landmarks {
    display: flex;
    flex-direction: column; }
  #ld-head {
    top: 100px; }
  .ld {
    flex-direction: column; }
    .ld .ld-map {
      height: 300px;
      width: 350px; }
    .ld .ld-sites {
      height: 100%;
      width: 350px; } }

.containter-login {
  display: flex;
  flex-direction: column; }

.login-black {
  visibility: visible; }

.login-base {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .login-base .login-img {
    width: 1000px;
    height: 600px;
    background-image: url(../images/Hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .login-base form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 712px;
    margin-top: 50px; }
    .login-base form label {
      margin-right: 650px; }
    .login-base form input[type=text], .login-base form select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .login-base form input[type=password], .login-base form select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box; }
    .login-base form input[type=submit] {
      width: 150px;
      background-color: #F48026;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 38px;
      cursor: pointer; }
    .login-base form input[type=submit]:hover {
      background-color: #753b1d; }
    .login-base form a {
      text-decoration: none;
      color: black;
      font-family: LM;
      font-size: 15px; }

@media (max-width: 600px) {
  .login-base .login-img {
    margin-top: 50px;
    width: 400px;
    height: 300px; }
  .login-base form {
    width: 350px; }
    .login-base form label {
      margin-right: 310px; }
  .login-black {
    visibility: hidden; } }

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px; }

.contact-info {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; }
  .contact-info h1 {
    font-family: LM; }
  .contact-info #contact-para {
    margin-top: 50px;
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.contact-form {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column; }
  .contact-form .contact-input {
    height: 60px;
    width: 529px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    margin-top: 30px; }
  .contact-form .contact-input2 {
    height: 199px;
    width: 529px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    margin-top: 30px; }

.home-sites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .home-sites #sites-head {
    color: #0b032d;
    font-family: LM;
    font-size: 50px; }

.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 471px;
  height: 517px;
  background-color: red; }
  .site #site-img {
    height: 359px;
    width: 471px;
    background-color: antiquewhite; }
  .site #site-name {
    width: 471px;
    height: 79px;
    background-color: black; }
  .site #site-add {
    width: 471px;
    height: 79px;
    background-color: aquamarine; }

@media (max-width: 600px) {
  .home-sites {
    margin-top: 50px; }
    .home-sites #sites-head {
      font-size: 40px; }
    .home-sites .site {
      width: 100%; }
      .home-sites .site #site-img {
        height: 300px;
        width: 100%; }
      .home-sites .site #site-name {
        width: 100%; }
      .home-sites .site #site-add {
        width: 100%; } }

.hero {
  height: 450px;
  width: 100%;
  background-image: linear-gradient(rgba(244, 128, 38, 0.5), rgba(244, 128, 38, 0.5)), url(../assets/images/Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.cen-content {
  padding: 15px; }
  .cen-content h1 {
    color: white;
    font-family: LM;
    font-size: 50px; }

.collage {
  display: flex;
  justify-content: left;
  padding: 0 30px; }
  .collage .hero-images {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 225px; }
    .collage .hero-images #image1 {
      height: 152px;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba(187, 214, 134, 0.5), rgba(187, 214, 134, 0.5)), url(../assets/images/CJ.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .collage .hero-images #image2 {
      height: 152px;
      width: 100%;
      background-image: linear-gradient(rgba(11, 3, 45, 0.5), rgba(11, 3, 45, 0.5)), url(../assets/images/People.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
  .collage #image3 {
    width: 361px;
    height: 304px;
    background-image: linear-gradient(to bottom, rgba(100, 69, 54, 0.5), rgba(100, 69, 54, 0.5)), url(../assets/images/MWT.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .collage .hero-text {
    position: absolute;
    top: 385px;
    right: -335px;
    width: 700px;
    font-family: LM;
    font-size: 50px; }

@media (max-width: 600px) {
  .hero {
    height: 399px;
    width: 100%; }
  .cen-content {
    height: 53px;
    width: 272px;
    top: 100px;
    left: 0px; }
    .cen-content h1 {
      font-size: 20px; }
  .login {
    visibility: hidden; }
  .hero-images {
    top: 399px;
    width: 100px; }
    .hero-images #image1 {
      width: 260px;
      height: 100px; }
    .hero-images #image2 {
      width: 260px;
      height: 100px; }
  #image3 {
    left: 180px;
    top: 399px;
    width: 213px;
    height: 201px; }
  .hero-text {
    font-size: 20px;
    top: 350px;
    right: 0px;
    height: 40px;
    width: 327px;
    color: white; } }

.about {
  display: flex;
  width: 100%;
  background-color: #534981;
  height: 624px;
  margin-top: 350px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px; }

.about-img {
  background-color: aqua;
  height: 623px;
  width: 960px;
  background-image: linear-gradient(to bottom, rgba(83, 73, 129, 0.5), rgba(83, 73, 129, 0.5)), url(../www/assets/images/street.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.about-con {
  height: 623px;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about-con #about-head {
    color: white;
    font-family: LM;
    font-size: 50px;
    position: absolute;
    top: 900px;
    left: 850px; }
  .about-con #about-para {
    color: white;
    font-family: LM;
    width: 688px;
    height: 195px;
    font-size: 15px;
    margin-right: 100px; }
  .about-con #about-button {
    width: 234px;
    height: 79px;
    border-radius: 38px;
    background-color: #F48026;
    border-color: #F48026;
    color: white;
    font-family: LM;
    margin-left: 350px; }

@media (max-width: 600px) {
  .about {
    margin-top: 250px;
    flex-direction: column; }
    .about .about-img {
      width: 100%;
      height: 180px; }
  .about-con {
    width: 100%; }
    .about-con #about-head {
      font-size: 30px;
      top: 775px;
      left: 120px;
      color: black; }
    .about-con #about-para {
      width: 350px;
      margin-right: 0px;
      font-size: 13px; }
    .about-con #about-button {
      width: 200px;
      height: 60px;
      margin-left: 0;
      margin-top: 100px; } }

/*partials*/
.nav-wrapper {
  width: 100%;
  display: contents; }
  .nav-wrapper nav {
    padding: 15px;
    border-bottom: solid 2px white;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
    .nav-wrapper nav .logo {
      width: 119px;
      height: 60px;
      background-image: url(../assets/logo/IndianaAveLogo-wht.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 20px; }
    .nav-wrapper nav .links {
      width: 350px;
      display: flex;
      justify-content: space-around; }
      .nav-wrapper nav .links a {
        text-decoration: none;
        color: white;
        font-size: 20px; }
      .nav-wrapper nav .links a:hover {
        font-family: LMB; }

.login {
  padding: 15px;
  margin-top: -75px;
  display: flex;
  justify-content: end;
  visibility: visible; }
  .login a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: LM; }

.login:hover a {
  font-family: LMB; }

.login-black {
  position: absolute;
  top: 150px;
  width: 100px;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible; }
  .login-black a {
    text-decoration: none;
    color: black;
    font-family: LM;
    font-size: 20px; }

.nav-wrapper-black {
  height: 90px;
  width: 100%;
  display: contents; }
  .nav-wrapper-black nav {
    width: 100%;
    height: 130px;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav-wrapper-black nav .logo {
      width: 119px;
      height: 60px;
      background-image: url(../assets/logo/IndianaAveLogo-blk.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 20px; }
    .nav-wrapper-black nav .links {
      width: 350px;
      display: flex;
      justify-content: space-around; }
      .nav-wrapper-black nav .links a {
        text-decoration: none;
        color: black;
        font-size: 20px; }
      .nav-wrapper-black nav .links a:hover {
        font-family: LMB; }

.nav-mobile-wrapper {
  visibility: hidden;
  height: 74px;
  width: 100%;
  background-color: #D2BFA1;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.mobile-icon {
  height: 50px;
  width: 100px;
  margin-right: 10px;
  background-image: url(../Logo/IndianaAveLogo-blk.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#ham-icon {
  float: right;
  display: none;
  cursor: pointer; }

#ham-icon div {
  width: 55px;
  height: 10px;
  border-radius: 38px;
  background-color: #644536;
  margin: 10px 0;
  transition: 0.4s;
  margin-left: 10px; }

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 2500px; }

.mobile-menu {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  height: 0px;
  width: 100%;
  background-color: #9BBE55;
  z-index: 99; }
  .mobile-menu li {
    list-style-type: none;
    margin: 20px; }
  .mobile-menu a {
    color: white;
    font-size: 20px;
    font-family: LM;
    text-decoration: none; }
  .mobile-menu a:hover {
    font-family: LMB; }

@media (max-width: 600px) {
  .nav-wrapper {
    display: none; }
  .nav-wrapper-black {
    display: none; } }

@media (max-width: 600px) {
  .nav-mobile-wrapper {
    visibility: visible; } }

#ham-icon {
  display: block; }

@font-face {
  font-family: LM;
  src: url(fonts/lemon_milk/LEMONMILK-Light.otf); }

@font-face {
  font-family: LMB;
  src: url(fonts/lemon_milk/LEMONMILK-Bold.otf); }

.footer {
  width: 100%;
  height: 400px;
  background-color: #0b032d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px; }
  .footer .logo {
    width: 200px;
    height: 100px;
    background-image: url(../Logo/IndianaAveLogo-wht.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .footer .footer-con {
    height: 175px;
    width: 138px;
    background-color: bisque; }
  .footer .footer-icons {
    height: 200px;
    width: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100px 100px;
    grid-row: auto auto; }
    .footer .footer-icons #icon {
      height: 50px;
      width: 50px;
      background-color: aqua; }

@media (max-width: 600px) {
  .footer {
    height: 330px;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-row: auto auto; }
    .footer .logo {
      width: 100px;
      height: 50px;
      background-image: url(../Logo/IndianaAveLogo-wht.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .footer .footer-con {
      height: 150px; }
    .footer .footer-icons {
      height: 150px;
      width: 100px;
      grid-template-columns: 70px 70px; } }
